<h1>My Lists</h1>


<h1>Articles</h1>
<%= link_to "New article", new_article_path %>

<% @articles.each do |article| %>
  <% if article.present? %>
    <div>
      <h2><%= article.title %></h2>
      <% if article.photo.attached? %>
        <%= image_tag(url_for(article.photo), size: "150x150") %>
      <% end %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    </div>
  <% end %>
<% end %>
